@import '../../../uskin/css/uskin.less';

#app {
  width: 100%;
  .wrapper {
    width: 100%;
    .navbar {
      width: 100%;
      height: 60px;
      background-color: #1D2E3B;
    }
    .content {
      margin-top: 20px;
      display: flex;
      #main {
        flex: 1;
        padding: 0 30px;
        box-sizing: border-box;
      }
    }
  }
}